@{
    ViewData["Title"] = "Details";
}

<h1>City Info:</h1>
<ul>
    <li>ID: @Model.CityId</li>
    <li>Name: @Model.Name</li>
    <li>Rating: @Model.Rating</li>
    <li>Attraction: @Model.Attraction</li>
    <li>Review: @Model.Review</li>
</ul>
<br>

<a href="/Cities/Edit/@(Model.CityId)"><p>Edit</p></a>
<br>

<a href="/Cities"><p>Return</p></a>

<a href="/Cities/Delete/@(Model.CityId)"><p>DELETE CITY</p></a>